.fixed-nav {
  position: fixed !important;
  animation: slideDown 0.3s ease-out;
}

.active-nav {
  font-weight: 600;
  position: relative;
  color: var(--primary-dark) !important;
}

.active-nav::after {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: var(--primary-dark);
}

.active-nav-mobile {
  margin: auto;
  font-weight: 600;
  width: fit-content;
  color: var(--primary-dark) !important;
  border-bottom: 3px solid var(--primary-dark);
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

body.has-fixed-nav {
  padding-top: var(--nav-height, 80px);
}
