---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

import { Button } from "./ui/button";
import Image from "astro/components/Image.astro";
import BannerStats from "./BannerStats.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<main id="home" class="h-full w-full">
  <div class="flex flex-col md:flex-row gap-8 relative">
    <!-- Left Section -->
    <div
      class="flex flex-col gap-6 justify-center w-full md:w-[55%] px-6 md:px-12 lg:px-28 md:pr-0 pt-12 md:pt-0"
    >
      {
        lang === "en" ? (
          <div class="flex flex-col gap-2 text-center md:text-left">
            <h1 class="text-4xl md:text-5xl xl:text-6xl">{t("hero.title1")}</h1>
            <h1 class="text-secondary-text text-4xl md:text-5xl xl:text-6xl">
              {t("hero.title2")}
            </h1>
          </div>
        ) : (
          <h1 class="text-4xl md:text-5xl xl:text-6xl text-center md:text-left">
            {t("hero.title")}
          </h1>
        )
      }
      <p class="text-secondary-text text-center md:text-left">
        {t("hero.subtitle")}
      </p>
      <form
        action=""
        class="w-full flex items-center justify-center md:justify-start gap-1 h-12"
      >
        <div class="h-full min-w-4 w-full max-w-[300px]">
          <input
            type="text"
            class="p-2 px-3 border w-full h-full placeholder:text-base"
            placeholder={t("hero.enter_your_email_address")}
          />
        </div>
        <Button
          className="rounded-none px-4 py-4 h-full w-auto min-w-28 xl:w-36 text-sm md:text-base"
          >{t("hero.email_us")}</Button
        >
      </form>
      <div class="hidden xl:block absolute left-0 bottom-0 w-[80%] h-28">
        <BannerStats />
      </div>
    </div>
    <!-- Right Section -->
    <div class="w-full md:w-[45%] overflow-hidden h-[300px] md:h-auto">
      <Image
        width={500}
        height={600}
        alt={"Banner Image"}
        class="size-full block object-cover"
        src={"/assets/images/banner-img.webp"}
      />
    </div>
  </div>

  <div class="xl:hidden mt-8 px-6 md:px-12"><BannerStats /></div>
</main>
