---
import { getAssetPath, getLangFromUrl, useTranslations } from "@/i18n/utils";
import { CarouselComp } from "./common/CarouselComp";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const testimonials = [
  {
    id: 1,
    clientName: "John Doe",
    clientPosition: "CEO",
    clientCompany: "ABC Company",
    testimonial:
      "There are numerous different versions of portions from Lorem Ipsum that are available, but the most have been changed in some way, usually by adding humor or randomizing phrases that don't look the slightest bit plausible.",
    clientProfile: getAssetPath("/assets/images/profile-1.webp"),
  },
  {
    id: 2,
    clientName: "John Doe",
    clientPosition: "Managing Director",
    clientCompany: "XYZ Company",
    testimonial:
      "The most have been changed in some way, usually by adding humor or randomizing phrases that don't look the slightest bit plausible.  Lorem Ipsum that are available. There are numerous different versions of portions from Lorem Ipsum that are available.",
    clientProfile: getAssetPath("/assets/images/profile-2.webp"),
  },
  {
    id: 3,
    clientName: "John Doe",
    clientPosition: "CTO",
    clientCompany: "JD Company",
    testimonial:
      "The most have been changed in some way, usually by adding humor or randomizing phrases that don't look the slightest bit plausible. There are numerous different versions of portions from. There are numerous different versions of portions from Lorem Ipsum that are available.",
    clientProfile: getAssetPath("/assets/images/profile-3.webp"),
  },
];
---

<section id="testimonials" class="py-12 md:py-24 bg-accent">
  <h2 class="text-base text-secondary text-center">
    {t("testimonials.testimonials")}
  </h2>
  <h3 class="text-3xl md:text-4xl lg:text-[40px] font-bold text-center">
    {t("testimonials.what_clients_say_about_us")}
  </h3>

  <div class="w-full flex justify-center mt-10">
    <CarouselComp
      client:only="react"
      slides={testimonials}
      quotePath={getAssetPath("/assets/svgs/quote.svg")}
    />
  </div>
</section>
